@use "../../abstracts/" as *;

.header {
    position: fixed;
    top: 24px;
    left: 0;
    right: 0;
    color: $primary-color;
    background-color: $bg-blur;
    z-index: 50;

    .bg-blur {
        z-index: -1;
        backdrop-filter: blur(30px);
        position: absolute;
        filter: blur(30px);
        -webkit-filter: blur(30px);
        height: 100%;
        width: 100%;
    }

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 22px 14px;
    }

    &-logo {
        max-width: 152px;

        img {
            @include image-full();
        }
    }

    &-navigate {
        .navigate-menu {
            cursor: pointer;
            width: 32px;
            height: 17px;
            img {
                @include image-full();
            }
        }
        .navigate-list {
            transform: translateX(500%);
            position: absolute;
        }
        .navigate-link {
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            letter-spacing: 0.1em;
            padding: 15px;
            color: currentColor;
            text-decoration: none;
            transition: all 0.3s;
        }
        .navigate-link:hover {
            color: $secondary-color;
        }
    }

    @include screen($breakpoints-xs, $tablet) {
        .menu-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $secondary-color;
            opacity: 0.4;
        }
        .navigate-list-active {
            transform: translateX(0);
            transition: 0.5 linear;
            padding: 15px;
            position: fixed;
            right: 0;
            left: 40%;
            top: 0;
            bottom: 0;
            background-color: $secondary-color;
            color: $primary-color;
        }
    }

    @include screen($breakpoints-md, $tablet) {
        --position: 18px;
        left: var(--position);
        right: var(--position);
    }
    @include screen($breakpoints-xl) {
        --position: 76px;
        left: var(--position);
        right: var(--position);
        &-main {
            padding: 22px 28px;
        }
        &-navigate {
            .menu-overlay {
                display: none;
            }
            .navigate-menu {
                display: none;
            }
            .navigate-list {
                position: static;
                transform: translateX(0);
                display: flex;
                column-gap: 16px;
            }
        }
    }
}

.header-active {
    top: 0;
    background-color: $primary-color;
    color: $secondary-color;
    box-shadow: $shadow;
    transition: 0.5s ease-in;
}
