@use "../../abstracts/" as *;

.home-banner {
    position: relative;
    // width: 100%;
    color: $primary-color;
}
.banner-infor {
    position: absolute;
    top: 120px;
    padding: 0 13px;

    .banner-infor-sub-title,
    .banner-infor-title,
    .banner-infor-link,
    .banner-infor-button {
        text-transform: uppercase;
    }

    .banner-infor-sub-title {
        font-size: 44px;
        line-height: 1.13;
        font-weight: 400;
        margin-bottom: 17px;
        padding-right: 50px;
        letter-spacing: 0.1em;
    }
    .banner-infor-title {
        font-family: $font-secondary;
        font-size: 62px;
        line-height: 1.16;
        margin-bottom: 17px;
    }
    .banner-infor-link {
        font-weight: 700;
        display: inline-block;
        margin-bottom: 34px;
        line-height: 1.35;
    }
    .banner-infor-button {
        color: $primary-color;
        line-height: 1.35;
        font-weight: 700;
        padding: 25px 33px;
        letter-spacing: 0.1em;
    }
    .banner-infor-button:hover {
        color: $primary-color;
        border: 4px solid $secondary-color;
    }
    .banner-infor-button::before {
        background-color: $secondary-color;
    }
}
.text-banner-image {
    display: none;
}
.home-banner:first-child {
    @include bg-image("../assets/images/Sec-rocket-launcher-BG.png", 733px);
}
.home-banner:nth-child(2) {
    @include bg-image("../assets/images/Sec-rocket-BG.png", 608px);
}
.home-banner:last-child {
    padding-bottom: 600px;
    background-color: $secondary-color;

    .banner-image {
        position: relative;
        @include bg-image("../assets/images/Sec-rocket-launched-BG.png", 794px);
    }
    .banner-infor {
        top: auto;
        bottom: 0;

        padding-top: 67px;
        padding-bottom: 69px;

        background: rgba(25, 65, 106, 0.5);
        backdrop-filter: blur(22px);
        .banner-infor-desc {
            margin: 33px 0 49px;
            font-weight: 600;
            line-height: 1.7;
        }
        .banner-infor-button {
            padding: 25px 54px;
        }
    }
}

@include screen(600px) {
    .home-banner:not(:last-child) {
        .banner-infor {
            font-size: 18px;

            .banner-infor-sub-title {
                font-size: 64px;
            }
            .banner-infor-title {
                font-size: 92px;
                line-height: 1.5;
            }
            .banner-infor-button {
                padding: 25px 43px;
            }
        }
    }
    .home-banner:last-child {
        .banner-infor {
            bottom: initial;
            top: 50%;
            transform: translateY(-50%);
            width: 448px;
        }
    }

    .text-banner-image {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        opacity: 0.3;
        img {
            @include image-full();
        }
    }
}

@include screen(600px, 1319.08px) {
    .banner-infor {
        top: 263px;
        padding: 0 37px;
    }
    .home-banner:first-child {
        @include bg-image("../assets/images/Sec-rocket-launcher-BG-md.png", 1096px);
    }
    .home-banner:nth-child(2) {
        @include bg-image("../assets/images/Sec-rocket-BG-md.png", 866px);
    }
    .home-banner:last-child {
        padding: 0;
        .banner-infor {
            --padding: 50px;
            right: 0;

            padding-left: var(--padding);
            padding-right: var(--padding);
        }
        .banner-image {
            @include bg-image("../assets/images/Sec-rocket-launched-md.png", 794px);
        }
    }
}
@include screen(1320px) {
    .banner-infor {
        padding: 0 37px;
        top: 298px;
        left: 98px;
    }
    .home-banner:first-child {
        @include bg-image("../assets/images/Sec-rocket-launcher-BG-lg.png", 1096px);
    }
    .home-banner:nth-child(2) {
        @include bg-image("../assets/images/Sec-rocket-BG-lg.png", 866px);
    }
    .home-banner:last-child {
        padding: 124px;
        .banner-image {
            @include bg-image("../assets/images/Sec-rocket-launched-BG-lg.png", 794px);
        }
        .banner-infor {
            left: 50%;
        }
    }
}
