@use "../../abstracts/" as *;

.home-faq {
    background-color: $secondary-color;
    padding: 58px 0 67px;
    color: $primary-color;
    .faq-image {
        img {
            @include image-full();
        }
    }
    .faq-content {
        padding-left: 15px;
        padding-right: 31px;

        display: flex;
        flex-direction: column;
        gap: 54px;
        .faq-title {
            font-family: $font-secondary;
            font-size: $text-4xl;
            line-height: 1.5;
        }
        .faq-sub-title {
            font-size: $text-xl;
            padding-right: 80px;
            line-height: 1.3;
            text-transform: uppercase;
            margin-bottom: 14px;
        }
        .faq-desc {
            font-weight: 600;
            line-height: 1.7;
        }
    }
    @include screen($breakpoints-md) {
        padding: 0;
    }
    @include screen($breakpoints-md, $tablet) {
        .faq-content {
            padding: 0 43px 127px;
        }
    }
    @include screen($breakpoints-xl) {
        .faq-content {
            padding: 0 126px 137px;
        }
    }
}
